.cover {
  background: #000;
  /* max-width: 145rem; */
  margin: auto;
  height: 66rem;
  position: relative;
  .image {
    position: absolute;
    image-resolution: 100%;
    max-width: 100%;
    right: 0;
    bottom: 0;
    z-index: 2;
  }
  .container {
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    // color: white;
    // color: black;
    // width: 100%;
    // height: 72%;
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    // align-items: center;
  }
  .info {
    // padding: 0 2rem;
    // height: 100%;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // background-color: rgba(0, 0, 0, 0.301);
  }
  .title {
    // font-size: 3rem;
    // text-transform: capitalize;
  }
  .subtitle {
    // font-size: 2rem;
  }
}
