.footer {
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.795);
  color: white;
  .row {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    div {
      font-size: 1.2rem;
      font-weight: 500;
      text-align: center;
      &:hover {
        cursor: pointer;
        color: red;
      }
    }
  }
  .copyright {
    padding: 1rem;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
  }
}
